{% extends "multiplix/layout.html" %}
{% load static %}

{% block body %}
    <div class="container" id="home">
        <div id="settings">
            <div class="row"></div>
                <div class="d-flex justify-content-center my-auto">
                    <h1>Test Settings</h1>
                </div>
            </div>
            <form id="settings_form">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-10">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center" id="settings-error">
                            </div>
                        </div>
                        <div class="row justify-content-center settings-row shadow" id="time">
                            <div class="col-sm-auto col-12 d-sm-inline-block d-flex justify-content-center">
                                <div class="select-time-label">Select Time</div>
                            </div>
                            <div class="col-auto d-sm-block d-none">
                                <div class="select-time-label">|</div>
                            </div>
                            <div class="col-auto my-auto">
                                <div class="time-options" id="time-30">30s</div>
                            </div>
                            <div class="col-auto my-auto">
                                <div class="time-options" id="time-60">60s</div>
                            </div>
                            <div class="col-auto my-auto">
                                <div class="time-options time-option-active" id="time-120">120s</div>
                            </div>
                            <div class="col-auto my-auto">
                                <div class="time-options" id="time-180">180s</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-10">
                        <div class="row justify-content-center settings-row shadow">
                            <div class="col-sm-auto col-12 d-sm-inline-block d-flex align-self-center justify-content-center">
                                <div class="form-check form-switch sign-label">
                                    <input class="form-check-input shadow-none" type="checkbox" role="switch" id="addition-switch" checked>
                                    <label class="form-check-label" for="addition-switch">Addition</label>
                                </div>
                            </div>
                            <div class="col-auto d-sm-block d-none align-self-center">
                                <div class="select-time-label">|</div>
                            </div>
                            <div class="col-auto align-self-center">
                                <form id="addition_constraints">
                                    <span>
                                        (
                                        <input id="add_min_1" type="number" class="num-input add-input" value="12" maxlength="3" autocomplete="off">
                                        to
                                        <input id="add_max_1" type="number" class="num-input add-input" value="99" maxlength="3" autocomplete="off">
                                        )
                                        <span class="signs  my-auto">+/-</span>
                                        (
                                        <input id="add_min_2" type="number" class="num-input add-input" value="5" maxlength="3" autocomplete="off">
                                        to
                                        <input id="add_max_2" type="number" class="num-input add-input" value="12" maxlength="3" autocomplete="off">
                                        )
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-10">
                        <div class="row justify-content-center settings-row shadow" >
                            <div class="col-sm-auto col-12 d-sm-inline-block d-flex align-self-center justify-content-center">
                                <div class="form-check form-switch sign-label">
                                    <input class="form-check-input shadow-none" type="checkbox" role="switch" id="multiplication-switch" checked>
                                    <label class="form-check-label" for="multiplication-switch">Multiplication</label>
                                </div>
                            </div>
                            <div class="col-auto d-sm-block d-none align-self-center">
                                <div class="select-time-label">|</div>
                            </div>
                            <div class="col-auto align-self-center">
                                <form id="multiplication_constraints">
                                    <span>
                                        (
                                        <input id="mult_min_1" type="number" class="num-input mult-input" value="12" maxlength="2" autocomplete="off">
                                        to
                                        <input id="mult_max_1" type="number" class="num-input mult-input" value="99" maxlength="2" autocomplete="off">
                                        )
                                        <span class="signs">&times;/&divide;</span>
                                        (
                                        <input id="mult_min_2" type="number" class="num-input mult-input" value="5" maxlength="2" autocomplete="off">
                                        to
                                        <input id="mult_max_2" type="number" class="num-input mult-input" value="12" maxlength="2" autocomplete="off">
                                        )
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-10">
                    <div class="row justify-content-center settings-row shadow" id="default-button">
                        <div class="col-12 text-center">
                            Reset to Default Settings
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div id="enter-button">
                        Press <span class="key-button shadow" id="enter">Enter</span> to start
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 text-center notice">
                    *<span class="highlight">Addition</span> and <span class="highlight">Multiplication</span> include <span class="highlight">Subtraction</span> and <span class="highlight">Division</span>, respectively.
                </div>
                <div class="col-10 text-center notice">
                    *<span class="highlight">Subtraction</span> and <span class="highlight">Division</span> are the reverses of their counterparts.
                </div>
            </div>
        </div>
        <div id="start-test"></div>
    </div>
    
    <div class="container" id="test">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-10 justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12 text-center test-heading">
                                Time
                            </div>
                            <div class="col-12 text-center">
                                <div class="test-number" id="counter">
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12 text-center test-heading">
                                Score
                            </div>
                            <div class="col-12 text-center">
                                <div class="test-number" id="current-score">
                        
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div id="question">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-6">
                        <input id="answer" autocomplete="off" type="number" autofocus>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div id="enter-button">Press <span class="key-button shadow" id="escape">Esc</span> to exit</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container" id="results">
        <div class="d-flex justify-content-center my-auto">
            <h1>Results</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-8 col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center my-auto result-heading">
                                Score
                            </div>
                            <div class="col-12 d-flex justify-content-center my-auto result-number" id="score">
                                score
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center my-auto result-heading">
                                QPM
                            </div>
                            <div class="col-12 d-flex justify-content-center my-auto result-qpm" id="qpm">
                                qpm
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row result-message justify-content-end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center my-auto result-heading">
                        Average Times
                    </div>
                    <br>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div id="addition-averages">
                                <div class="col-12 d-flex justify-content-center my-auto result-average-heading">
                                    Addition
                                </div>
                                <div class="col-12 d-flex justify-content-center my-auto result-average-number" id="add-avg">
                                    20
                                </div>
                                <div class="col-12 d-flex justify-content-center my-auto result-average-heading">
                                    Subtraction
                                </div>
                                <div class="col-12 d-flex justify-content-center my-auto result-average-number" id="sub-avg">
                                    20
                                </div>
                            </div>
                            <div id="multiplication-averages">
                                <div class="col-12 d-flex justify-content-center my-auto result-average-heading">
                                    Multiplication
                                </div>
                                <div class="col-12 d-flex justify-content-center my-auto result-average-number" id="mult-avg">
                                    20
                                </div>
                                <div class="col-12 d-flex justify-content-center my-auto result-average-heading">
                                    Division
                                </div>
                                <div class="col-12 d-flex justify-content-center my-auto result-average-number" id="div-avg">
                                    20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div id="enter-button">
                    Press <span class="key-button shadow" id="enter">Enter</span> to play again
                </div>
            </div>
            <div class="col-12 text-center">
                <div id="enter-button">Press <span class="key-button shadow" id="escape">Esc</span> to change settings</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'multiplix/multiplix.js' %}"></script>
{% endblock %}