{% extends "multiplix/layout.html" %}
{% load static %}

{% block title %}
<title>
    About Us
</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto leckerli-one-regular info-title">
            <span class="title">MultipliX</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-10 info info-main text-center">
            <span class="highlight">MultipliX</span> is a mental math game that allows you to practice and test your arithmetic ability. 
            <span class="highlight">MultipliX</span> introduces the convenience and customizability of traditional typing tests to the world of math.
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'multiplix/info.js' %}"></script>
{% endblock %}